<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Chat Application</title>

    <script type="text/javascript" src="/js/redirect.js"></script>
  </head>

  <body>
    <!--This div is displayed as the default page for listing All channels-->

    <div>
      <h1>Welcome!</h1>
    </div>
    <div>
      <h3>Please Select a Channel:</h3>
    </div>
    <!--
                This is where the listed channels are going to be, with a link the the respective channel
            -->
    <div th:each="channel : ${channelsView}">
      <a
        th:href="@{/channels/{channelId}(channelId = ${channel.id})}"
        target="_self"
      >
        <h5 th:text="${channel.channelName}"></h5>
      </a>
    </div>
    <!--
                Below this is going to be a button that links to a page for creating a new chat room
            -->
    <div>
      <form action="/channels/createChannel" method="post" target="_self">
        <button type="submit" value="Add a Chat Room">Add A Chat Room</button>
      </form>
    </div>

  </body>
</html>
