<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Chat Application</title>
        
        <script type="text/javascript" src="/js/redirect.js"></script>
    </head>

    <body>

        <!-- The two divs are to
                1. welcome the user to the page
                2. give them direction on how the page is used
        -->
        <div>
            <h2>Welcome!</h2>
        </div>
        <div>
            <h4>Please Select a Channel:</h4>
        </div>

        <!--
            This is where the listed channels are going to be, with a link the the respective channel
        -->
        <div >
            <a href="#" target="_self">
                <h6>General Channel</h6>
            </a>
        </div>
        <!--
            Below this is going to be a button that links to a page for creating a new chat room
        -->
        <div>
            <form action="" target="_self">
    
                <button type="submit" value="Add a Chat Room">Add A Chat Room</button>
                
            </form>

            <script type="text/javascript" src="/js/channels.js"></script>
        </div>
    </body>

</html>