<!DOCTYPE html>
<html>
  <head>
    <title th:text="${channel.channelName}"></title>

    <script type="text/javascript" src="/js/redirect.js"></script>
  </head>

  <body>
    <div id="chatContainer" th:if="${#lists.size(channel.messages) != 0}">
      <div th:each="chatMessage : ${channel.messages}">
        <span
          th:text="${chatMessage.sentBy.designation}:${chatMessage.context}"
        ></span>
      </div>
    </div>
    <div>
      <form action="">
        <div>
          <label>Enter Message:</label>
        </div>
        <div></div>
      </form>
    </div>
  </body>
</html>
