<!DOCTYPE html>
<html>
  <head>
      <script type="text/javascript" src="/js/redirect.js"></script> 
      <title th:text="${chatroom.channelName}"></title>
     

  </head>

  <body>
    <!--Container  which is going to be the reception area for messages connected to this channel-->
    <!--
    <div id="chatContainer" th:if="${#lists.size(chatroom.messages) != 0}">
      <div th:each="chatMessage : ${channel.messages}">
        <span
          th:text="${chatMessage.sentBy.designation}:${chatMessage.context}"
        ></span>
      </div>
    </div> 
    
    -->
    <!--^^End of the chat messages container^^-->

    
    <div>
        <!--The form containing the users TextArea-->
        <form th:action="@{/channels/{channelId} (channelId = ${chatroom.id})}" method="post">
          <div>
            <label>Enter Message:</label>
          </div>
          <div>
              <textarea id="formTextArea" th:field="${chatMessage.context}" rows="2" cols="50" autofocus></textarea>
          </div>
          <input type="hidden" id="usersId" th:field="${user.userId}" />
          <input type="hidden" id="userDesignation" th:field="${user.designation}"/>
        </form>
      </div>
      <!--^^ End point for the form conatiner^^-->

    <script type="text/javascript" src="/js/retrieveMessages.js"></script>
  </body>
</html>
